@import "../styles.scss";

#container {
    width: 1200px;
    margin: auto;
}
img{
    max-height: 60px;
    min-height: 60px;
    margin: auto 20px;
    grid-column: 1;
}

h1 {
    margin: auto;
    text-align: center;
    color: $title-color;
    grid-column: 2;
}

app-bandinfo {
    grid-column: 3;
    margin-left: auto;
}


header {
    min-height: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer{
    width: fit-content !important;
    margin: auto !important;
    text-align: center;
}

#box-1 {
    display: flex;

    :last-child {
        margin-left: auto;
    }
}

#box-3 {
    width: auto;
}

@media screen and (max-width: 1200px) {
    #container {
        width: auto;
        padding: 16px;
    }

    #box-1 {
        max-width: 100%;
        margin: auto;
    }

    app-info {
        width: 65%;
        float: right;
    }
}

@media screen and (max-width: 930px) {
    img{
        display: none;
    }
    header {
        margin-bottom: 0% !important;
        width: 100%;
        min-height: fit-content;
        display: flex;

        h1 {
            font-size: 60px;
            text-align: left;
            margin: 0;
        }
        app-bandinfo{
            float: right;
        }
    }
}

@media screen and (max-width: 767px) {
    img{
        display: none;
    }
    #container {
        width: auto;
        padding: 16px;
    }

    #box-1 {
        margin: auto;
        display: inline;
    }

    #box-2 {
        width: 100%;
        display: inline-block;
    }

    app-info {
        width: 100% !important;
    }

    header {
        margin-bottom: 0% !important;
        width: 100%;
        min-height: fit-content;
        display: flex;

        h1 {
            font-size: 60px;
        }
    }

}

@media screen and (max-width: 600px) {
    #container {
        width: auto;
        padding: 16px;
    }

    #box-1 {
        display: inline;
    }

    #box-2 {
        width: 100%;
        display: inline-block;
    }

    header {
        margin-bottom: 0% !important;

        width: 100%;
        min-height: fit-content;
        display: flow-root;

        h1 {
            font-size: 60px;
            padding-bottom: 0px !important;
            text-align: center;

        }

    }

    app-bandinfo {
        margin: auto;
        display: flex;
        float: none !important;
    }

    app-info {
        width: 100% !important;
    }

}
