<header class="shadow mb-5 rounded">
  <img src="../assets/icons/logo_corazon_colores.png" alt="Logo">
  <h1 class="display-3 p-3">Healthy Band</h1>
  <app-bandinfo></app-bandinfo>
</header>
<div id="container">
  <div id="box-1">
    <app-heart-rate></app-heart-rate>
    <app-info></app-info>
  </div>
  <div id="box-2">
    <app-line-chart class="w-100"></app-line-chart>
  </div>
  <div id="box-3">
    <app-line-chart-2 class="w-100"></app-line-chart-2>
  </div>
</div>
<footer>
  <p>Autor: Raúl Medina García-Navas</p>
  <p><a target="_blank" href="https://github.com/Raulmedinagn">GitHub: Raulmedinagn</a></p>
</footer>