@import "../../styles.scss";
h3,p{
    text-align: center;
    font-weight: bold;
}
h3{
    margin-top: 10px;
    margin-bottom: 5px;
}
svg{
    display: block;
    fill: $steps-color;
    margin: 20px auto;
    align-items: center;
}
div{
    @include info-components;
}